.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 80px; */
  width: fit-content;
}
.title {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn-p {
  text-align: center;
  /* padding: 5px; */
  /* width: ; */
  height: 30px;
  min-width: 100px;
  min-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: rgb(210, 241, 10);
}
.input {
  min-width: 100px;
  min-height: 30px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}
.result {
  text-align: center;
}
