/* OtxApp.css */
/* OtxApp.css */

/* Center the input elements */
.input-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Add additional styles for input elements as needed */
.input-container input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Add styles for dark mode as needed */
.dark-mode .input-container input {
  background-color: #2a2a2a;
  color: #ffffff;
  border-color: #444444;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #333333;
  text-align: left;
}

.custom-table th {
  background-color: #333333;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

.custom-table td:nth-child(2) a:hover {
  color: yellow; /* Change URL text color to white */
  text-decoration: none; /* Remove underline from anchor tags */
}

/* Anchor tag styles for URL column */
.custom-table td:nth-child(2) a {
  color: #ffffff; /* Change URL text color to white */
  text-decoration: none; /* Remove underline from anchor tags */
}

/* Set URL column max width to 200px and allow text wrapping */
.custom-table td:nth-child(2) {
  max-width: 800px;
  word-wrap: break-word;
}

/* Dark mode styles */

.dark-mode .table-container {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-mode .custom-table th {
  background-color: #333333;
}

.dark-mode .custom-table tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}
